# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
dist/
build/
*.spec

# Settings and configurations
history.json
config.json
.screenqr/

# Virtual Environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
